<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de">  <!--<![endif]-->
<head>

	<!-- META DATA -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="UTF-8">
	<title>3Dthon: Sign Up/Sign In</title>
    <meta name="description" content="3D printing competition"/>
    <meta name="keywords" content="3D printing, 3D printer"/>
    <meta name="author" content="RamSud Labs"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- JARVIS THEME STYLESHEETS -->
     
	<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/3dthon/css/skeleton.css" type="text/css">
	<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/3dthon/css/reset.css" type="text/css">    
	<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/3dthon/css/style.css" type="text/css">
	<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/3dthon/css/social.css" type="text/css">             
	<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/3dthon/css/flexslider.css" type="text/css">	
	<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/3dthon/css/prettyPhoto.css" type="text/css" media="screen"/><!-- PrettyPhoto -->	
	<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/3dthon/css/font-awesome.css" type="text/css"/><!-- PrettyPhoto -->    
	<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/3dthon/css/shortcodes.css" type="text/css"/> 	
	<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/3dthon/css/media.css"><!-- Media Queries -->

    
    
    <link id="layout_color" href="https://s3-us-west-1.amazonaws.com/3dthon/css/light.css" rel="stylesheet" type="text/css"/>  
    <link id="primary_color_scheme" href="https://s3-us-west-1.amazonaws.com/3dthon/css/colors/yellow.css" rel="stylesheet" type="text/css"/>      

    <style>
      /* Special signup flash message */
      .signup-flash {
         color: #EE0000;
         font-size: 20px;
      }

      .btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}


    </style>

    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
		   
   
</head>

  <body>
    <nav class="light">
      <!-- START CONTAINER -->	
      <div class="container clearfix">			
        <div class="four columns">			
          <!-- START LOGO -->	
          <div class="logo large">
            <a href="/"><img src="https://s3-us-west-1.amazonaws.com/3dthon/images/logo.png" title="logo" alt="Logo"/></a>
          </div>
          <!-- END LOGO -->			
        </div><!-- END FOUR COLUMNS -->   
          
        <div class="twelve columns">            		
          <!-- START NAVIGATION MENU ITEMS -->
          <ul class="main-menu large" id="nav">
            <li><a href="/">Home</a></li>                
            <li><a href="/signup">Sign Up</a></li>
	    <li><a href="/signup">Sign In</a></li>
	    <li><a href="/competitions">Competitions</a></li>
            <li><a href="http://blog.3dthon.com" target="_blank">Blog</a></li> 
	    <li><a href="/#contact">Contact</a></li>
	  </ul>
          <!-- END NAVIGATION MENU ITEMS -->				

        </div><!-- END TWELVE COLUMNS -->	
      </div><!-- END CONTAINER -->	
    </nav>

    <div class="page">

      <div class="container clearfix">
      
	<div class="row">

	  <div class="eight columns">	
	  
	    <div class="fullwidth grey">
	    
	      <h1 class="aligncenter"> Sign Up </h1>
	    
	      <form  action="local_signup" method="post">  
		
		<div id="signup_form">
		  <input type="email" id="signup-email" name="signup_email" placeholder="Email (required)" >
		  <input type="password" id="signup-password1" name="signup_password1" placeholder="Password (required)">
		  <input type="password" id="signup-password2" name="signup_password2" placeholder="Retype password">
		  <input type="text" id="signup-name" name="signup_name" placeholder="Name (required)">
		  <button type="submit" class="btn btn-primary btn-large"> Sign Up </button>
		</div> 
	      
	      </form>

	      <div class="aligncenter">
		<p class="signup-flash"><%= signup_flash_msg %></p>
    	      </div>

	    </div>
	  </div>
	
	  <div class="eight columns">
	  
	    <div class="fullwidth grey">
	    
	      <h1 class="aligncenter"> Member? </h1>
	      <h2 class="aligncenter"> Sign In </h2>
	      
	      <form action="/local_signin" method="post">
		
		<div id="signin_form">
		  <input type="email" id="signin-email" name="signin_email" placeholder="Email (required)">
		  <input type="password" id="signin-password" name="signin_password" placeholder="Password (required)" >
		  <button type="submit" class="btn btn-primary btn-large"> Sign In </button>
		</div>

	      </form>

	      <div class="pagination-centered">
		<p class="signup-flash"><%= flash_msg %></p>
    	      </div>

	    </div>
	  </div>
	</div>

      </div>
    </div>

      <hr class="featurette-divider">

      <div class="container">

	<h2 class="aligncenter">
	  Or sign-up/sign-in with your existing accounts
	</h2>
	
	<div class="row">
	  <div class="five columns">
	    <a href="/auth/facebook">
	      <img src="https://dl.dropboxusercontent.com/u/69791784/3Dthon/assets/img/facebook-login.png">
	    </a>
	  </div>
	  <div class="five columns">
	    <a href="/auth/twitter">
	      <img src="https://dl.dropboxusercontent.com/u/69791784/3Dthon/assets/img/twitter-login.png">
	    </a>
	  </div>
	  <div class="five columns">
	    <a href="/auth/google">
	      <img src="https://dl.dropboxusercontent.com/u/69791784/3Dthon/assets/img/google-login.png">
	    </a>
	  </div>
	</div>
      </div>

    </div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>  
	<script type="text/javascript" src="js/jquery.queryloader2.js"></script>        
	<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>  
	<script type="text/javascript" src="js/jquery.fitvids.js"></script>  
	<script type="text/javascript" src="js/jquery.appear.js"></script>  
	<script type="text/javascript" src="js/jquery.slabtext.min.js"></script>   
	<script type="text/javascript" src="js/jquery.fittext.js"></script>   
	<script type="text/javascript" src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/jquery.sticky.js"></script>
	<script type="text/javascript" src="js/selectnav.min.js"></script>    
	<script type="text/javascript" src="js/SmoothScroll.js"></script>   
	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>    
	<script type="text/javascript" src="js/isotope.js"></script>    
	<script type="text/javascript" src="js/bootstrap-modal.js"></script>   
	<script type="text/javascript" src="js/shortcodes.js"></script>     
	<script type="text/javascript" src="js/scripts.js"></script>          

  </body>
</html>
